@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*fondo*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #223243;
}

/*formulario*/
.container {
  width: 45%;
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #223243;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);

  }

/*separacion de los textbox*/
.container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.container .form.signin,
.container.signinForm .form.signup {
  display: none;
}

.container.signinForm .form.signin {
  display: flex;
}

/*titulo*/
.container .form h2 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/*centrar las letras*/
.container .form .inputBox {
  position: relative;
  width: 300px;
}

/*los textbox*/
.container .form .inputBox input {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #223243;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}

/*diseño de las letras*/
.container .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}

/*animacion de letras*/
.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span {
  color: #00dfc4;
  border: 1px solid #00dfc4;
  background: #223243;
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
  border: 1px solid #00dfc4;
}

/*logos*/
.container .form .inputBox i {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: #00dfc4;
  border-right: 1px solid #00dfc4;
}


/*ya eres usuario*/
.container .form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
  font-weight: 300;
}

/*boton de acceso*/
.container .form p a {
  font-weight: 500;
  color: #fff;
}

/*boton de crear cuenta*/
.inputBox .ingresar{
  padding: 12px 10px 12px 48px;
  border: none;
  background: #00dfc4;
  color: #000;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  left: 25%;
  text-align: center;
  position:relative;
  padding: 7px 10px;
 
}

.inputBox .ingresar2{
    padding: 12px 10px 12px 48px;
  border: none;
  background: #00dfc4;
  color: #000;
  font-weight: 500;
  border-radius: 25px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.35);
  text-decoration: none;
  left:35%;
  text-align: center;
  position:relative;
  padding: 7px 10px;
}

.img1{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        text-align: left; 
        float: left;
        left: 0%;
        top: 5%;
        position: relative;
     }